body {
    background-image: url("assets/background.jpg");
    background-attachment: fixed;
}

.App {
}

.Header {
    text-align: center;
    margin: 80px 180px;
}

.Footer {
    position: relative;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin-bottom: 1em;
}

nav {
    position: fixed;
    top: 250px;
    margin-left: 30px;
}

.nav-link {
    font-size: 20px;
    color: #212529;;
}

.selfpic {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.logos {
    width: 30px;
    height: 30px;
}

.container {
    min-height: 380px;
}
